@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Quattrocento);

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

div.navbar-header span.navbar-brand {
font-family: 'Oswald', sans-serif;
font-weight: 300;
font-size: 2em;
}

.navbar li a {
  font-size: 1.2em;
}

body {
  font-family: 'Quattrocento', serif;
}
